body {
    background: rgb(138,81,142);
    background: linear-gradient(311deg, rgba(138,81,142,1) 0%, rgba(49,42,138,1) 30%, rgba(131,53,170,1) 78%, rgba(58,134,215,1) 100%);
    margin: 5vh 1rem 0 1rem;
}
#appContainer {
    background: rgb(242, 222, 243, 0.3);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    max-width: 60rem;
    margin: 0 auto 66vh auto;
    display: flex;
    flex-direction: column;
}
#firstSection {
    color: rgb(42, 10, 71);
    text-align: center;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;  
    -khtml-user-select: none;    
    -moz-user-select: none;     
    -ms-user-select: none;   
    user-select: none;   
    flex-shrink: 2;
}
#header {
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;  
    -khtml-user-select: none;    
    -moz-user-select: none;     
    -ms-user-select: none;   
    user-select: none;   
}
h1 {
    margin: 1.5rem 0;
    font-size: 30px;
}
#taskInput {
    margin-bottom: 1.5rem;
    padding: 0.7rem;
    border-radius: 0.4rem;
    border: none;
    width: 70%;
    height: 1.5rem;
    margin: 0.5rem auto;
    outline: none;
    background-color: rgb(198, 225, 236);
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 16px;
}
#taskInput::placeholder {
    font-family: 'Edu NSW ACT Foundation', cursive;
    color: rgb(137, 126, 148);
}
/* ORDEN: :link — :visited — :hover — :active. */
#taskInput:hover {
    height: 2.2rem;
    transition: all 0.3s ease;
    font-size: 18px;
}
#addButton {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    background-color: rgb(198, 225, 236);
}
#addButton:hover {
    background-color: rgb(168, 216, 235);
    color: rgb(61, 20, 100);
    transition: all 0.3s ease;
    width: 35px;
    height: 35px;
}
.tasks {
    background-color: rgb(198, 225, 236);
    color: rgb(42, 14, 68);
    padding: 1rem 0.5rem;
    border-radius: 0.3rem;
    margin: 0.5rem auto;
    font-size: 16px;
    word-wrap: break-word;
    text-align: justify;
    font-family: 'Edu NSW ACT Foundation', cursive;
}
.tasks:hover {
    transition: all 0.3s ease;
    background-color: rgb(168, 216, 235);
    font-size: 16px;
    transition: all 0.2s ease;
}
.taskContent {
    display: block;
    text-align: justify;
    padding: 0 1.5rem 0rem 1.8rem;

}
.checkTask {
    float: left;
    width: 18px;
    height: 18px;
    cursor: pointer;
    outline: none;
}
.deleteButton {
    float: right;
    position: relative;
    bottom: 22px;
    right: 3px;
    width: 18px;
    height: 18px;
    padding: 0.2rem;
    cursor: pointer;
}
.editButton {
    width: 18px;
    height: 18px;
    cursor: pointer;
    float: right;
    position: relative;
    right: 2px;
    padding: 0.2rem;
    bottom: 22px;
}
#secondSection {
    flex-shrink: 1;
}
#thirdSection {
    font-size: 15px;
    text-align: center;
    color: rgb(61, 20, 100);
    background-color: rgb(198, 225, 236, 0.2);
    border-radius: 0.5rem;
    margin: 1rem auto;
    padding: 0.5rem;
    width: 98%;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;  
    -khtml-user-select: none;    
    -moz-user-select: none;     
    -ms-user-select: none;   
    user-select: none;   
    flex-shrink: 3;
}
p {
    margin: 0 0 0.5rem 0;
    padding: 0.2rem;
    display: block;
}
#completedTasks:hover, #pendingTasks:hover, #totalTasks:hover{
    font-size: 17px;
    transition: all 0.3s ease;
    cursor: pointer;
}
#clearAll { 
    background-color: rgb(198, 225, 236, 0.2);
    width: 70%;
    border-radius: 0.2rem;
    margin: 0 auto;
    padding: 0.3rem;
}
#clearAll:hover {
    color: rgb(198, 225, 236);
    background-color: rgb(95, 42, 138);
    padding: 0.5rem;
    transition: all 0.3s ease;
    cursor: pointer;
    font-weight: normal;
}